@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
}

body {
    width: 100vw;
    height: 100vh;
    color: #fff;
    background-color: #070707;
}

.box {
    width: 60%;
    height: 80%;
    padding: 1rem;
    border-radius: 20px;
    background-color: #1e89ec;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.conteudos {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 1.75rem;
    margin: 0.625rem;
    color: #070707;
}

.centro {
    text-align: center;
}

#pergunta {
    background: #ccc;
    color: #070707;
    padding: 0.625rem;
    border-radius: 15px;

    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    animation: piscar .75s infinite alternate;
}

@keyframes piscar {
    0% {
        filter: drop-shadow(0 0 15px #070707);
        -webkit-filter: drop-shadow(0 0 15px #0a0a0a);
        -moz-filter: drop-shadow(0 0 15px #0a0a0a);
        -o-filter: drop-shadow(0 0 15px #080808);
        -ms-filter: drop-shadow(0 0 15px #0e0f0f);
    }
    100% {
    }
}

.animar {
    animation: piscar .75s infinite alternate;
}

.aparecer {
    animation: aparecer .5s infinite alternate;
}

@keyframes aparecer {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.card {
    background-color: rgb(29, 25, 20);
    color: #fff;
    padding: 1rem;
    height: 4rem;
    border-radius: 10px;
    text-align: center;
}

.card:hover{
   transition: all;
   border-style: dashed;
   border-color: #1e89ec;
}

.cards{
    max-width: 1200px;
    margin-bottom: 10px;
    display: grid;
    grid-gap: 1rem;
    cursor: pointer;
    box-shadow: #ece8e8;
}

@media (min-width: 600px) {
    .cards {grid-template-columns: repeat(3, 1fr);}
}

@media (min-width: 900px) {
    .cards {grid-template-columns: repeat(4, 1fr);}
}

p {
    font-size: small;
    text-align: center;
    color: #070707;
    font-weight: bold;
}